.navbar, .navbar-default {
  margin-bottom: 0;
  //background-color: #434f27;
  border: 0;
  border-radius: 0;
}

ul {
  margin-bottom: 0px;
}

a {
  text-align: center;
}

li:hover {
  background-color: grey;

  a {
    color: white;
  }

}
