.footer-text {
  float: left;
  width: auto;
}

.scale-container {
  float: left;
  height: 44px;
  position: relative;
  line-height: 21px;
}

.footer-button-container {
  float: left;
  position: relative;
}

.right-container {
  width: 15%;
  float: right;
}
