$primary-color: blue;
$light-color: green;
.panel {
  overflow: hidden;
  max-height: 100%;
}

.panel-body {
  padding: 5px;
  overflow: auto;
}

.panel-default  > .panel-heading {
  padding: 0px;
}

.legende-panel {
  overflow-y: auto;
  pointer-events: auto;
  border-radius: 0 !important;
}

li {
  padding: 5px;
  width: 100%;
}
