@media screen {
  html, body {
    height: 100%;
    font-family: Calibri, sans-serif;
    padding: 0;
    margin: 0;
    position: relative;
    min-width: 1024px;
    overflow: hidden;
  }

  *, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
  }

  .allow-scroll {
    height: 100%;
    overflow-y: auto;
  }

  .mtb-body {
    width: 100%;
    height: -moz-calc(100vh - 112px);
    height: -webkit-calc(100vh - 112px);
    height: calc(100vh - 112px);
    position: relative;
  }

  .mtb-header {
    background-color: white;
    width: 100%;
    color: black;
    line-height: 60px;
  }

  .mtb-footer {
    position: fixed !important;
    bottom: 0;
    height: 44px;
    background-color: black;
    width: 100%;
    color: white;
    padding-left: 21px;
    line-height: 20px;
  }

  .max-height {
    height: 100%;
  }

}
