<div class="container">
  <div class="row">
    <h3>
      Home Component
    </h3>
  </div>
</div>
<div class="container">
  <div class="dropdown show">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Choose your ride
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" (click)="setRide('GRANCANARIA')">Gran Canaria</a>
      <a class="dropdown-item" (click)="setRide('SICILY')">Sicilië</a>
    </div>
  </div>
</div>
<iframe allowtransparency frameborder='0' height='160' scrolling='no' src='https://www.strava.com/clubs/514429/latest-rides/8b6ec4ecc0f007137777d095faf1ac71b5f30de2?show_rides=false' width='300'></iframe>
